html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(73,73,73);
    background: radial-gradient(circle, rgba(73,73,73,1) 13%, rgba(22,22,22,1) 84%);
    margin: 0;
    position: relative;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100dvh;
  width: 85dvw;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
 

}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  width: 100%;

}

h1{
  text-align: center;
  margin:0;
}
button{
  height: 30px;
  width: 25%;
  border-radius: 10px;
  color: black;
  background-color: white;
  outline: none;
  border: none;
  box-shadow: 0 2px rgb(146, 145, 145);
}
button:active {
  background-color: rgb(73,73,73);
  box-shadow: 0 4px #666;
  transform: translateY(1px);
}
button:hover{
  cursor: pointer;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
  transition: background-color 0.3s ease;
  background-color: rgb(73,73,73);
  color: white;
}

#list-header {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 51%, rgba(252,69,69,1) 87%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  height: 5%;
  
 
}

#list-container {
  padding: 5px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  box-sizing: border-box;
  position: relative;
}

#list-container::-webkit-scrollbar{
  display: none;
}

#taskLists {
  text-align: center;
  list-style: none;
  margin:0;
  padding: 0;
  
  height: 100%;

}

li {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 5px;
  padding: 5px;
  margin: 2px;
  position: relative;

}
li:hover {
  display:flex;
  justify-content:space-around;
  align-items:center;
  color: darkgoldenrod;
  cursor: pointer;
  color:rgba(22,22,22,1);
  background-color: white;
}

#inputField {
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  width: 25%;
  text-align: center;
  border: none;
  
}
#github {
  margin:auto;
  height:5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#github-link {
  display: block;
  height: 75%;
  width: auto;
  z-index: 10;       
  cursor: pointer;

}
#priority-input{
  max-width: 50%;
  height: 50%;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
   margin-bottom: 5px;
}
option{
  background-color: white;
  color: black;
  text-align: left;

}

.priority-cell{
  font-size: 1.5rem;
  text-align: center;
}

label{
  max-width: 50%;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
   padding: 10px;
   margin-bottom: 5px;
}
.CompletedList {
  text-decoration: line-through;
  background: black;
}
.newTodoStyle{
  background:  rgb(73,73,73);
}

 form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  background: radial-gradient(circle, rgba(73,73,73,1) 13%, rgba(22,22,22,1) 84%);  
  padding: 10px;  
 }
 .hidden {
    display: none !important;
}


#card-footer{
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: center;
  width: 100%;
  
  height: 5%;
 
}

#trash-icon{
  height: 2rem;
  width: 2rem;
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  border-radius: 10px;


}
#trash{
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
 
  
}

#due-date{
  width:  25%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
   padding: 10px;
  
}

#menu{
  height: 50px;
  display: block;
}


#menu.hidden{
  display:none;
}

#menu-cancel{
  display: block;
}

#menu-cancel{
  height: 35px;
  display: block;
  padding: 5px;
}

#menu-cancel.hidden{
  display:none;
}

.hidden{
  display:none;
}

.visible{
  display: block;
}

#list-menu{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: auto;
  padding: 0;
  align-items: center;
  text-align: center;
  margin:0;
  padding: 0;
  height: 100%;

;
}
.status-select{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: none;
  text-align: left;
}

#settings{
  height: 40px;
  width: 40px;
  border-radius: 50%;

  display: flex;
  padding: 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  background: radial-gradient(circle, rgba(73,73,73,1) 13%, rgba(22,22,22,1) 84%);;
}
td{
  text-align: center;
  height: 100%;
  padding:3px;
  margin: 0;
}



th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

tr{
  padding: 0;
}

tr:nth-child(even) {
  background-color: #737373;
  
}

.delete-btn { 
    background-color: #e72f2f; 
    color: white; 
    border: none; 
    padding: 5px 5px; 
    cursor: pointer; 
    border-radius: 5px;
    width: 45%;
    text-align: center;
}
.complete-btn { 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 5px 5px; 
    cursor: pointer; 
    border-radius: 5px;
    width: 45%;
    text-align: center;
}
.action-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.description-input{
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: none;
}

.due-date-input{
  width:100%;
  height: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;

 }

 .priority-select{
  width: 100%;
  height: 100%;
  text-align: center;
  padding:5px;
  border: none;
  outline: none;
  background: rgba(73,73,73);
}

  .priority-select > option {
    background: radial-gradient(circle, rgba(73,73,73,1) 13%, rgba(22,22,22,1) 84%);
    color: radial-gradient(circle, rgba(73,73,73,1) 13%, rgba(22,22,22,1) 84%);
    text-align: center;
  }

  select {
    height: 100%;
    background:rgba(73,73,73,1);
    color: white;
    text-align: center
  }

    select > * {
    background:rgba(73,73,73,1);
    color: white;
    text-align: center
  }