html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(73,73,73);
    background: radial-gradient(circle, rgba(73,73,73,1) 13%, rgba(22,22,22,1) 84%);
    margin: 0;
    position: relative;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  padding: 10px;
  position: absolute;

}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 75vh;
  position: relative;
}

h1{
  text-align: center;
  margin:0;
}
button{
  height: 20px;
  width: 50px;
  border-radius: 10px;
  color: black;
  background-color: white;
  outline: none;
  border: none;
  box-shadow: 0 4px rgb(146, 145, 145);
}
button:active {
  background-color: rgb(73,73,73);
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}
button:hover{
  cursor: pointer;
}

#list-header {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 51%, rgba(252,69,69,1) 87%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:10px;
  
 
}

#list-container {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;

}

#list-container::-webkit-scrollbar{
  display: none;
}

ul {
  text-align: center;
  list-style: none;
  margin:0;
  padding: 0;
}

li {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 5px;
  padding: 5px;
  margin: 2px;
  position: relative;

}
li:hover {
  display:flex;
  justify-content:space-around;
  align-items:center;
  color: darkgoldenrod;
  cursor: pointer;
  color:rgba(22,22,22,1);
  background-color: white;
}

input {
  border-radius: 10px;
  height: 20px;
  margin: 5px;
  text-align: center;
  border: none;
  
}
#github {
  position: absolute;
  bottom:0;
  height: 10%;
  width:auto;
}
#github-link {
  display: block;
  height: 70%;
  width: auto;
  z-index: 10;
  cursor: pointer;
}
.CompletedList {
  text-decoration: line-through;
}

 


